$colorGris: #CFD8DC;
$margenTop: 10px;

.form-check {
	margin-left: 12px;
	margin-top: $margenTop;
}
.container {
	margin-top: $margenTop;	
	margin-bottom: 10px;
    background-color: $colorGris;
}



