/*    >>>>>Footer<<<<<    */

.footer {
     background-image: url("../Imagenes/fondo_atardecerabajo.jpg");
    
     height: auto;
     color: #c6ffb9;

}
.mapa {
   
  padding: 20px 20px 20px 20px;
}