/*      >>>>>Header<<<<<    */
.logo2 {
   border-radius: 10px;
    width: 100%;
  height: 100%;
}

.imgredes {
  border-radius: 10px;
  width: 35px;
  height: 35px;
  padding-bottom: 5px;}

  .nav {
  background-image: url("../Imagenes/fondo_atardecerarriba.jpg");
  z-index: 1;
  height: 200px;
width: 100%;
}

.nav-link {
margin-right: 1.5rem;
  margin-left: 1.5rem;
}
  .navbar-nav {
  background-color: #006666;
 
}

